.nvidia-settings-rc
BraveSoftware
ChimeraX
EOS-greeter.conf
Mullvad VPN
QtProject.conf
Thunar
alacritty
autostart
btop
dconf
discord
dotfiles
dunst
eos-update-notifier.first_init
example.picom.conf
fontconfig
gcloud
gtk-3.0
gtk-4.0
htop
i3
kungfu-vim.md
mc
menus
mimeapps.list
nano
neofetch
nvim.bak
omf
pulse
qBittorrent
reflector-simple-free-params.txt
ristretto
rofi
starship.toml
systemd
torbrowser
user-dirs.dirs
user-dirs.locale
xed
xfce4
zsh
